<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Say something
</h2>

<div class = "ui two column grid">
  <div class = "twelve wide column">
    <div class = "ui fluid raised card chatbox">
      <div class = "content" style = "overflow : auto;">
        <div class="ui feed" id = "chat-message" >
          <%= render @messages %>
        </div>
      </div>
      <div class = "extra content" style="min-height: auto !important">
        <div class="ui comments">
          <%= form_for(@message,:remote => true, :html => {:class => "ui reply form", :role => "form"},:url => message_path) do |m| %>
            <div class = "field">  
              
              <div class="ui fluid icon input">
                <%= m.text_field(:body,:placeholder => "Write here.......",:id => "chat_text",:focus => true) %>
                  <%= m.button('<i class="bordered inverted orange icon edit"></i>'.html_safe,:id => "message-submit") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class = "four wide column">
    <div class = "ui fluid raised card chatbox">
      <div class = "content">
        <div class="ui vertical pointing menu inverted">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
    </div>
      </div>
      
    </div>
  </div>
</div>