<div class="ui inverted small menu">
      <div class = "ui container">
        <% if logged_in? %>
          <%= link_to("Chatroom",root_path,:class => "item") %>
          <a class="item">
            Messages
          </a>
        <% end %>
          <div class="right menu">
          <% if logged_in? %>
                <%= link_to("Logout", login_path, :method => :delete, :class => "item") %>
              <% else %>
                <%= link_to("Login",login_path, :class => "item")%>
              <% end %>
        </div>
        </div>
    </div>